<nav>
<div class="nav-wrapper">
  <a href="/" class="brand-logo">Bobcat</a>
  <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
  <ul class="right hide-on-med-and-down">
  <li> <a href = '/events/new'>create</a> </li>
  <li> <a href = '/events/<%= user._id %>/all'>view all</a> </li>
  
  <li><a href = '/logout'>logout</a>
</li>
  </ul>
  <ul class="side-nav" id="mobile-demo">
  <li><a href = '/logout'>logout</a>
  </li>
  <li> <a href = '/events/new'>create</a> </li>
  </ul>
</div>
</nav>

<div class= "container">
<div class="row">
    <div class="col s12 m6">
      <div class="card medium">
        <div class="card-image">
          <img src="/images/bobcat.jpg" id="user-header" user-id="<%= user._id %>">
          <span class="card-title"><h1><%=event.name%></h1><a href="#" class="waves-effect waves-light btn pawprint" id="<%= event._id %>">
          <i class="material-icons right">pets</i>I'm going</a></span>
        </div>
        <div class="card-content">
          <p><strong><%= event.date.toDateString() %></strong></p>
          <div class="divider"></div>
          
          <h4>Description</h4>
          <p><%= event.description %></p>
  <% if (event.creator.equals(user._id)) { %>
  <a href="/events/<%= event._id %>/edit" class="waves-effect waves-light btn">
  <i class="material-icons right">mode_edit</i>edit event</a>
<%} %>
        </div>
      </div>
    </div>
  </div>

  

  <div class="card">
  <div class="card-image waves-effect waves-block waves-light" id ="map" class= "center-align">
  </div>
  <div class="card-content">
    <span class="card-title activator grey-text text-darken-4"><%= event.venue.name %><i class="material-icons right">more_vert</i></span>
    <p></p>
  </div>
  <div class="card-reveal">
    <span class="card-title grey-text text-darken-4"><%= event.venue.name %><i class="material-icons right">close</i></span>
    <p><div class="chip">
    <img src="/images/stuckcat.jpg" alt="Contact Person">
    Wow Victor Noir is THE BEST
  </div><div class="chip">
  <img src="/images/stuckcat.jpg" alt="Contact Person">
  The sound was a bit loud 
</div><div class="chip">
<img src="/images/stuckcat.jpg" alt="Contact Person">
Now that I've found BOBCAT I'll never use other cats again!
</div></p>
  </div>
</div>
</div>

<script>
  var event = <%- JSON.stringify(event) %>
</script>



<script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="crossorigin="anonymous"></script>
<script src = "/javascript/jquery.js"></script>
<script type="text/javascript " src="/javascript/maps.js "></script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC9qgbLJovicwKDkq7F5YzuoPYUDYNBVd8&libraries=places&callback=initEventMap "
  async defer>
  </script>

