<nav>
<<<<<<< HEAD
  <div class="nav-wrapper">
    <a href="/map" class="brand-logo">Logo</a>
    <a href="#" data-activates="mobile-demo" class="button-collapse">
      <i class="material-icons">menu</i>
    </a>
    <ul class="right hide-on-med-and-down">
      <li>
        <a href='events/new'>create</a>
      </li>
      <li>
        <a href='events/'>view all</a>
      </li>

      <li>
        <a href='logout'>logout</a>
      </li>
    </ul>
    <ul class="side-nav" id="mobile-demo">
      <li>
        <a href='logout'>logout</a>
      </li>
      <li>
        <a href='events/new'>create</a>
      </li>
      
    </ul>
  </div>
=======
<div class="nav-wrapper">
  <a href="/map" class="brand-logo">Logo</a>
  <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
  <ul class="right hide-on-med-and-down">
  <li> <a href = 'events/new'>create</a> </li>
  <li> <a href = '/events/<%= user._id %>/all'>view all</a> </li>
  
  <li><a href = 'logout'>logout</a>
</li>
  </ul>
  <ul class="side-nav" id="mobile-demo">
  <li><a href = 'logout'>logout</a>
  </li>
  <li> <a href = 'events/new'>create</a> </li>
  </ul>
</div>
>>>>>>> 8c8c56fe11a76647e55556865a03d569459ce3aa
</nav>


<div class="search">
  <label>Adress :
  <input type="text">
  </label>
  <label>From :
  <input type="date">
  </label>
  <label>To :
  <input type="date">
  </label>
  <button class="waves-effect waves-light btn">Search</button>
</div>





<br>
<div id="map" class="center-align">
</div>

<script type="text/javascript">
 var myVenue = <%- JSON.stringify(venue) %>;
 </script>
 <script type="text/javascript">
 var myEvent = <%- JSON.stringify(event) %>;
 </script>

 <pre><%= venue %> </pre>
<pre><%= event %> </pre>



      <script type="text/javascript " src="/javascript/maps.js "></script>
      <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC9qgbLJovicwKDkq7F5YzuoPYUDYNBVd8&libraries=places&callback=initMap "
        async defer>

        </script>