
<nav>
<div class="nav-wrapper">
  <a href="/map" class="brand-logo">Bobcat</a>
  <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
  <ul class="right hide-on-med-and-down">
  <li> <a href = '/events/new'>create</a> </li>
  <li> <a href = '/events/<%= user._id %>/all'>view all</a> </li>
  
  <li><a href = '/logout'>logout</a>
</li>
  </ul>
  <ul class="side-nav" id="mobile-demo">
  <li><a href = '/logout'>logout</a>
  </li>
  <li> <a href = '/events/new'>create</a> </li>
  </ul>
</div>
</nav>

<h1 id="user-header" user-id="<%= user._id %>"><%= user.username%>'s events</h1>

<a class="waves-effect waves-light btn"><i class="material-icons right">pets</i>delete all</a>

<ul class="collection">
<% events.forEach((event) => { %>
    <li class="collection-item avatar">
      <img src="" alt="" class="circle">
      <span class="title">Title</span>
      <p><%= event.name %> @ <%= event.venue %><br>
      <%= event.date %>
      </p>
      <a href="#!" class="secondary-content"><i class="material-icons">pets</i></a>
    </li>
    <% }) %>
  </ul>